//Colors

$white: #ffffff;
$dark-grey: #48494D;
$ocher: #f8be42;

//Fonts

$open-sans-font: 'Open Sans', Arial, sans-serif;

//Viewport

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

// Container

$mobile-width-container: 500px;
$tablet-width-container: 940px;
$desktop-width-container: 1220px;
