@import '../../variables.scss';

.button {
  width: 100%;
  height: 40px;
  background-color: $ocher;
  border: 2px solid $dark-grey;
  border-radius: 5px;
  cursor: pointer;
}

.no-map {
  display: none;
}

@media (min-width: $tablet-width) {
  .brewery-detail {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: max-content 1fr;
    grid-column-gap: 20px;
  }

  .brewery-detail__map {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .no-map {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $dark-grey;
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
}
